body {
  font-family: Helvetica;
  text-align: center;
}

.centered-page {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.author-info {
  text-align: right;
  padding: 20px;
  float: left;
}

.blog-content {
  float: left;
}

.blog-posts {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

.blog-post {
  margin-bottom: 36px;
}

.blog-post-link {
  color: inherit;
  text-decoration: none;
}

.blog-post-content {
  font-size: 22px;
  line-height: 1.45;
  max-width: 600px;
}

.code-paragraph {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 2px 10px;
}

.author-image {
  border-radius: 95px;
}

@media screen and (min-width: 460px) and (max-width: 1000px) {
  .author-info {
    float: none;
    text-align: left;
    padding-bottom: 0;
  }

  .mobile-group {
    display: inline-block;
  }

  .author-image {
    float: left;
    margin-right: 10px;
  }

  .author-name {
    display: inline-block;
  }

  .author-title, .author-link {
    display: none;
  }
}

@media screen and (max-width: 459px) {
  .author-info {
    text-align: center;
    padding-bottom: 0;
    float: none;
  }

  .author-name {
    margin: 0;
    text-align: left;
  }

  .author-image, .author-title, .author-link {
    display: none;
  }
}
