<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
      href="style.css">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="centered-page">
      <div class="author-info">
        <div class="mobile-group">
          <img class="author-image"
            src="http://www.gravatar.com/avatar/2068ecb35d78f7ea67c6624fba147870">
          <h1 class="author-name">Sandy Vanderbleek</h1>
        </div>
        <h2 class="author-title">Software Engineer</h2>
        <p>
          <a class="author-link"
            href="//github.com/svanderbleek?tab=activity">Open Source Contributions</a>
        </p>
        <p>
          <a class="author-link"
            href="">Porfolio</a>
        </p>
      </div>
      <div class="blog-content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
